* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif
}

a {
    text-decoration: none;
}

/* headers */
header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c2035;
    margin-bottom: 100px;
    padding-inline: 4%;
}

.NavlinksContainer a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 17px 28px;
    letter-spacing: 0.3px;
    color: #e1e1e2;
    margin-top: 28px;
    text-align: center;
    border-bottom: 5px solid transparent;
    white-space: nowrap;
}

.NavlinksContainer a sup {
    font-size: 9px;
    color: rgb(255, 63, 108);
}

.NavlinksContainer a:hover {
    color: #f74b3f;
    border-bottom: 2px solid #f43e3e;
}

.logoContaienr {
    width: 100px;
}

.logoContaienr img {
    width: 100%;
    cursor: pointer;
}

.NavlinksContainer {
    display: flex;
    gap: 20px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.ActionContaienr {
    display: flex;
    gap: 20px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    position: relative;
}

.ActionContaienr span {
    cursor: pointer;

}
.bagItem-Count{
    position:absolute;
    top: -10px;
    background-color: lightcoral;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
}



/* mian container */

#card-Container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-inline: 6%;
    justify-content: center;
    margin-bottom: 100px;
}

.card {
    width: 250px;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.card .img-container {
    width: 100%;
    position: relative;
}

.card .img-container img {
    width: 100%;
}


.card .img-container .rating {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: white;
    padding: 1px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600
}

.card .img-container .rating .starts {
    font-size: 16px;

}

.card .cart-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2px;
}

.card .cart-details {
    font-size: 14px;
    color: #87888b;
    text-transform: capitalize;
    margin-bottom: 2px;
}

.card .price-container {
    display: flex;
    gap: 1px;
    align-items: center;
    margin-bottom: 5px;
}

.card .price-container .price {
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

.card .price-container .old-price {
    font-size: 12px;
    color: #87888b;
    text-decoration: line-through;
    margin-right: 10px;
}

.card .price-container .offers {
    font-size: 12px;
    color: #ff905a;
}


.hidden {
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    gap: 2px;
    padding: 8px 0;
    background-color: #282c3f;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* footer */
footer {
    margin-top: 80px;
    background-color: #ebeff3be;
    box-shadow: -2px 0px 10px rgba(195, 235, 237, 0.404);
    color: black;
    padding-inline: 4%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 50px 0 50px 0;
    text-transform: uppercase;
}

.footer-container .footer-item a:hover {
    text-decoration: underline;
}

.footer-container h3 {
    font-size: 14px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.footer-item {
    display: flex;
    flex-direction: column;
    color: black;
}

.footer-item a {
    font-size: 14px;
    color: rgb(86, 84, 84);
}

.play-stores {
    display: flex;
    align-items: center;
    width: 350px;
    /* background-color: red; */
}

.play-stores a img {
    width: 90%;
    margin-bottom: 20px;
}

.social-media {
    display: flex;
    align-items: center;
    font: 1em sans-serif;
    gap: 20px;
}

.social-media img {
    width: 20px;
    margin-top: 5px;
}

.copy-right {
    text-align: center;
    background-color: rgba(219, 217, 217, 0.906);
    padding: 20px 0 20px 0;
    color: #7a7f89;
}